<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzk.upload.mapper.UploadTaskMapper">

    <resultMap id="BaseResultMap" type="com.qzk.upload.entity.UploadTask">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="uploadId" column="upload_id" jdbcType="VARCHAR"/>
            <result property="fileIdentifier" column="file_identifier" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="bucketName" column="bucket_name" jdbcType="VARCHAR"/>
            <result property="objectKey" column="object_key" jdbcType="VARCHAR"/>
            <result property="totalSize" column="total_size" jdbcType="BIGINT"/>
            <result property="chunkSize" column="chunk_size" jdbcType="BIGINT"/>
            <result property="chunkNum" column="chunk_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,upload_id,file_identifier,
        file_name,bucket_name,object_key,
        total_size,chunk_size,chunk_num
    </sql>
</mapper>
